.item_name {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    width: calc(35% - 20px);
    box-sizing: border-box;
    text-align: left;
    height: fit-content;
    min-width: 450px;

    h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
    }

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }
}

@media screen and (max-width: 600px) {
    .item_name {
        white-space: normal;
        font-size: 16px;
        min-width: 300px;
    }
}